$enable-cssgrid: true;

// Body
$body-bg: #f8fafc;

// Typography
$body-font-family: 'Lexend', arial, sans-serif !important;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-black:#000000;
$color-primary: #8672C0;
$color-primary-light: #bda6f9;
$color-primary-dark: #15102c;
// $color-primary-dark: #1d1657;
$color-light-light: #f1eee4;
$color-light-dark: #E4D8C6;
$color-grey-light: #999999;
$color-grey-dark: #333333;
$color-gold: #C69963;
$color-gold-dark: #724e1c

