.login {
    font-family: 'Lexend', arial, sans-serif !important;
    background: url('../../images/map.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
