@import url(https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;600;700&display=swap);
body {
  font-family: "Lexend", arial, sans-serif !important;
}

.go-down {
  position: relative;
  -webkit-animation-name: goDown;
  -webkit-animation-duration: 1s;
  animation-name: goDown;
  animation-duration: 1s;
}
@keyframes goDown {
  from {
    transform: translateY(-20rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.go-up {
  position: relative;
  -webkit-animation-name: goUp;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  animation-name: goUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
@keyframes goUp {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.scale {
  position: relative;
  -webkit-animation-name: scale;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  animation-name: scale;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
@keyframes scale {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(var(--black), 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.shake {
  animation: shake 0.5s linear;
}

.error-shake {
  animation: shake 0.5s 1s linear;
}
@keyframes shake {
  8%, 41% {
    -webkit-transform: translateX(-10px);
  }
  25%, 58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%, 100% {
    -webkit-transform: translateX(0);
  }
}
.fade-in-bg { /* Chrome, Safari, Opera */
  animation: fade-in 4s ease-in;
}

/* Chrome, Safari, Opera */
/* Standard syntax */
@keyframes fade-in {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desk

1em = 16px
*/
.page-curl {
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  background: linear-gradient(135deg, #fff, #f3f3f3 45%, #ddd 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.page-curl:before, .page-curl:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 12.5%;
  bottom: 5.8%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg) rotate(-6deg);
}
.page-curl:after {
  left: auto;
  right: 5.8%;
  bottom: auto;
  top: 14.16%;
  transform: skew(-15deg) rotate(-84deg);
}
.page-curl:hover {
  width: 240px;
  height: 240px;
}
.page-curl:hover:before, .page-curl:hover:after {
  box-shadow: 0 24px 30px rgba(0, 0, 0, 0.3);
}
.page-curl--bottom-right {
  bottom: 0;
  right: 0;
}

.editor__box {
  border: 2px dotted var(--v-grey1-base);
  border-radius: 4px;
  padding: 0.75rem;
}
.editor__box::-webkit-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.editor__box:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.editor__box:-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.editor__box:focus {
  outline-offset: 0px;
  outline: none;
  border: 1px solid var(--v-primary-base);
  box-shadow: 0 0 3px var(--v-primary-base);
  -moz-box-shadow: 0 0 3px var(--v-primary-base);
  -webkit-box-shadow: 0 0 3px var(--v-primary-base);
}
.editor__box--title {
  width: 50%;
}
.editor__box--subtitle {
  width: 100%;
}

.nav-layout {
  background-color: #E4D8C6;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.am-container {
  margin: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 120em) {
  .am-container {
    padding-right: 10%;
    padding-left: 10%;
  }
}

.am-fill-height {
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.navigation__container {
  position: relative;
  height: 4.5rem;
  background-color: #15102c;
}
.navigation__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.75rem;
}
.navigation__header {
  position: relative;
  background-color: #f1eee4;
}
.navigation__title {
  padding: 1.5rem 0;
  color: #15102c;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__button--menu {
  background-color: #f1eee4;
  border: 1px solid #f1eee4;
  top: 0.5rem;
  left: 2rem;
  position: absolute;
  cursor: pointer;
}
@media only screen and (min-width: 120em) {
  .navigation__button--menu {
    left: 10%;
  }
}
.navigation__button--out {
  background-color: transparent;
  bottom: 1rem;
  right: 2rem;
  position: absolute;
}
@media only screen and (min-width: 120em) {
  .navigation__button--out {
    right: 10%;
  }
}
.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  left: 2.5rem;
  background-image: radial-gradient(#bda6f9, #15102c 80%);
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (min-width: 120em) {
  .navigation__background {
    left: 10%;
  }
}
.navigation__background--open {
  transform: scale(90);
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  opacity: 1;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 100%;
}
@media only screen and (min-width: 120em) {
  .navigation__list {
    width: 70%;
  }
}
.navigation__item {
  border: 1px solid #f1eee4;
  text-align: center;
  color: #f1eee4;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f1eee4 50%);
  background-size: 230%;
  transition: all 0.4s;
}
.navigation__item--nav {
  border-radius: 4px;
}
.navigation__item:hover {
  background-position: 100%;
  color: #8672C0;
  transform: translateX(1rem);
}
.navigation__item.active {
  background-position: 100%;
  color: #8672C0;
  transform: translateX(0);
}
.navigation__item:hover > .navigation__font, .navigation__item:active > .navigation__font {
  fill: #8672C0;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-family: "Lexend", arial, sans-serif !important;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.navigation__font {
  width: 2.5rem;
  fill: #f1eee4;
}
.navigation__checkbox:checked ~ .navigation__background--open {
  transform: scale(0);
}
.navigation__checkbox:checked ~ .navigation__background--closed {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 0;
  width: 0;
  height: 0;
  position: relative;
}
.navigation__icon {
  position: relative;
  background-color: transparent;
}
.navigation__icon--open, .navigation__icon--closed, .navigation__icon--open::before, .navigation__icon--closed::before, .navigation__icon--open::after, .navigation__icon--closed::after {
  width: 2rem;
  height: 3px;
  display: inline-block;
}
.navigation__icon--open::before, .navigation__icon--closed::before, .navigation__icon--open::after, .navigation__icon--closed::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #8672C0;
}
.navigation__icon--open::before {
  top: 0;
  transition: all 0.2s cubic-bezier(0.78, 1.86, 0.83, 0.67);
  transform: rotate(-135deg);
}
.navigation__icon--open::after {
  top: 0;
  transform: rotate(135deg);
  transition: all 0.2s cubic-bezier(0.78, 1.86, 0.83, 0.67);
}
.navigation__icon--closed::before {
  top: -0.5rem;
  transition: all 0.2s cubic-bezier(0.78, 1.86, 0.83, 0.67);
}
.navigation__icon--closed::after {
  top: 0.5rem;
  transition: all 0.2s cubic-bezier(0.78, 1.86, 0.83, 0.67);
}
.navigation__button:hover .navigation__icon {
  transform: scale(1.2);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: #8672C0;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__list .navigation__row .navigation__item .navigation__link {
  pointer-events: none;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon--open::before {
  top: -0.5rem;
  transform: rotate(0);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon--open::after {
  top: 0.5rem;
  transform: rotate(0);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon--closed::before {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon--closed::after {
  top: 0;
  transform: rotate(135deg);
}

.section-maker__v-menu {
  display: grid;
  align-content: center;
  background-color: var(--v-primary-lighten4);
}

.message__container {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
.message__container--right {
  right: 0;
}
.message__container--left {
  left: 0;
}

.save-btn__container {
  position: absolute;
  bottom: 1rem;
}
.save-btn__container--right {
  right: 0;
}
.save-btn__container--left {
  left: 0;
}

.login {
  font-family: "Lexend", arial, sans-serif !important;
  background: url(/images/map.jpg?74416897048e39fc2423753904a122f4);
  background-size: cover;
  background-position: center;
}

.pulsate {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(var(--black), 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.chic__subheading-2, .chic__heading-4, .chic__heading-3, .chic__heading-2, .chic__heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.chic__heading-2 {
  font-size: 1.75rem;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(1.25rem, 8rem) max-content minmax(1.25rem, 8rem);
  grid-gap: 1.25rem;
}

@supports (display: grid) {
  .chic__heading-2::before,
  .chic__heading-2::after {
    content: "";
    align-self: center;
    border-top: 1px solid var(--v-grey1-base);
  }
}
.chic__heading-3 {
  font-size: 1rem;
  color: var(--v-primary-base);
  text-transform: uppercase;
}

.chic__heading-4 {
  font-size: 1.25rem;
}
.chic__heading-4--light {
  color: var(--v-light1-base);
}
.chic__heading-4--dark {
  color: var(--v-grey1-base);
}

.chic__subheading-2 {
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1;
}
.chic__subheading-2--light {
  color: var(--v-light1-base);
}
.chic__subheading-2--dark {
  color: var(--v-grey1-base);
}

.chic__btn {
  border-radius: 0;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1.125rem 1.875rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  outline: none;
  z-index: 1;
  text-align: center;
}
.chic__btn--filled {
  background-color: var(--v-primary-base);
  color: white !important;
  border: 2px solid var(--v-primary-base);
}
.chic__btn--filled:hover {
  background-color: var(--v-secondary-base);
}
.chic__btn--open {
  color: var(--v-primary-base);
  border: 2px solid var(--v-primary-base);
  position: relative;
}
.chic__btn--open:hover {
  color: white;
}
.chic__btn--open:hover::before {
  top: 0;
}
.chic__btn--open::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--v-primary-base);
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
