.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        z-index: 200;
        box-shadow: 0 .5rem 2rem rgba($color-black, $alpha: .1);
        display: flex;
        justify-content: center;
        align-items: center;
        &--menu {
            background-color: $color-light-light;
            border: 1px solid $color-light-light;
            top: 1rem;
            left: 2rem;
            position: fixed;
            cursor: pointer;
        }
        &--out {
            background-color: transparent;
            bottom: 1rem;
            right: 2rem;
            position: absolute;
        }
    }

    &__background {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 1.5rem;
        left: 2.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 100;
        transform: scale(80);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07,1);
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 150;
        opacity: 1;
        transition: all .8s cubic-bezier(0.86, 0, 0.07,1);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }

    &__item {
        border: 1px solid $color-light-light;
        text-align: center;
        color: $color-light-light;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-light-light 50%);
        background-size: 230%;
        transition: all .4s;

        &--nav {
            border-radius: 4px;
        }

        &:hover {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        &.active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(0);
        }


        &:hover >  .navigation__font,
        &:active > .navigation__font {
            fill: $color-primary;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-family: $font-family-base;
            font-size: 1.5rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
        }
    }

    &__font {
        width: 2.5rem;
        fill: $color-light-light;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(0);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__icon {
        position: relative;
        background-color: transparent;

        &,
        &::before,
        &::after {
          width: 2.5rem;
          height: 3px;
          display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            background-color: $color-primary;
        }

        &::before {
            top: 0;
            //top: -.5rem;
            transition: all .2s cubic-bezier(.78,1.86,.83,.67);
            transform: rotate(-135deg);
        }
        &::after {
            top: 0;
            //top: .5rem;
            transform: rotate(135deg);
            transition: all .2s cubic-bezier(.78,1.86,.83,.67);
        }
    }

    &__button:hover &__icon {
        transform: scale(1.2);
    }

    &__checkbox:checked + &__button &__icon {
        background-color: $color-primary;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: -.5rem;
        transform: rotate(0);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: .5rem;
        transform: rotate(0);
    }


}

