%chic-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.chic__heading-1 {
    @extend %chic-heading;
}

.chic__heading-2 {
    @extend %chic-heading;
    font-size: 1.75rem;
    text-align: center;
    display: grid;
    grid-template-columns: minmax(1.25rem, 8rem) max-content minmax(1.25rem, 8rem);
    grid-gap: 1.25rem;
}

@supports (display: grid) {
    .chic__heading-2::before,
    .chic__heading-2::after {
        content: "";
        align-self: center;
        border-top: 1px solid var(--v-grey1-base);
    }
}

.chic__heading-3 {
    @extend %chic-heading;
}

.chic__heading-4 {
    @extend %chic-heading;
    font-size: 1.25rem;

    &--light { color: var(--v-light1-base) }
    &--dark { color: var(--v-grey1-base) }
}
